alembic
aniso8601
attrs
autoflake
blinker
click
contourpy
cycler
filelock
Flask
flask-restx
Flask-SQLAlchemy
fonttools
fsspec
greenlet
importlib_metadata
importlib_resources
isort
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
loguru
Mako
MarkupSafe
matplotlib
mpmath
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
opencv-python
packaging
pandas
pillow
platformdirs
pyflakes
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
referencing
rpds-py
scikit-learn
scipy
six
SQLAlchemy
sympy
threadpoolctl
tomli
torch
torchvision
tqdm
triton
typing_extensions
tzdata
Werkzeug
yapf
zipp
